fastapi
uvicorn[standard]
psycopg2-binary
langchain
langchain-core
langchain-community
langchain-text-splitters
pgvector
pypdf
pdfplumber
pycountry
country_converter
rapidfuzz
boto3
python-multipart
pyarrow
pandas
pystray
Pillow
pywebview
pymupdf
